:root {
    --primary-color: #173351;
    --secondary-color: #9a803f;
    --accent-color: #007bff;
    --background-color: #cbbd52;
    --text-color: white;
}

.jezik {
    display: flex;
    align-items: center;
}

.jezik-link {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.jezik-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Lagana promena boje na hover */
}

/* Responsivnost */
@media (max-width: 768px) {
    .zaglavlje {
        flex-direction: column; /* Preklopi na vertikalni raspored na mobilnim uređajima */
        align-items: flex-start; /* Poravnaj na levo */
    }
    main h2{
        align-items: center;
        
      }

    .jezik {
        margin-top: 10px; /* Dodaj malo razmaka iznad jezičkih linkova */
    }

    .menu-toggle {
        margin-top: 10px; /* Dodaj malo razmaka iznad hamburger menija */
    }
}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #9dc6f1;
}

header {
    background-color: var(--primary-color);
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.logo {
    max-width: 60px; /* Smanjeno za mobilne uređaje */
    height: auto;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

#nav-menu ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#nav-menu ul li {
    display: inline;
    margin-right: 15px;
}

#nav-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

#nav-menu ul li a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        background-color: none;
        width: 10%;
    }

    header {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo {
        max-width: 50px; 
        top: 10px;
        left: 10px;
    }

    #nav-menu {
        display: none;
        position: absolute;
        top: 90px; 
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        text-align: center;
        z-index: 1000;
    }

    #nav-menu.active {
        display: block;
    }

    #nav-menu ul {
        flex-direction: column;
        padding: 20px;
        margin: 0;
    }

    #nav-menu ul li {
        margin: 10px 0;
    }

    #nav-menu ul li a {
        display: block;
        padding: 12px 20px;
        color: var(--text-color);
    }
}

header h2 {
    color: var(--text-color);
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 20px;
    }
}

#hero {
    background: url("hero.jpg") no-repeat center center/cover;
    color: var(--text-color);
    text-align: center;
    padding: 60px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#hero h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

#hero .btn {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 1em;
    position: relative;
    z-index: 2;
    display: inline-block;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#hero .btn:hover {
    background-color: #315780;
}

#novi-događaji {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#novi-događaji h2 {
    margin: 0 0 15px;
}

#novi-događaji p {
    margin: 0 0 20px;
}

#novi-događaji .news-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

#novi-događaji .news-item {
    font-size: 1em;
    background-color: #ffffff;
    color: #007bff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
    display: none;
}

#novi-događaji .news-item.active {
    display: block; 
}

#novi-događaji .news-item:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#predstavljeni-dogadjaji {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    margin-bottom: 40px;
}

#predstavljeni-dogadjaji .dogadjaj {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(50% - 20px);
    max-width: 300px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#predstavljeni-dogadjaji h3 {
    margin: 0 0 10px;
}

#predstavljeni-dogadjaji p {
    margin: 5px 0;
}

/* Stilizovanje footera */
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    position: relative;
}

footer p {
    margin: 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: var(--text-color);
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: var(--accent-color);
}

/* login */
.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h3 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.login-container form div {
    margin-bottom: 15px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.login-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #315780;
}

#login {
    height: 62.1vh;
}
