body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #9dc6f1;
}

header {
    background-color: #173351;
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.logo {
    max-width: 60px; 
    height: auto;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    background-color: #173351;
    border: none;
    padding: 10px 15px; 
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    top: 10px;
}

#nav-menu ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#nav-menu ul li {
    display: inline;
    margin-right: 15px;
}

#nav-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#nav-menu ul li a:hover {
    color: #007BFF;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    
    header {
        padding: 10px;
    }
    
    .logo {
        max-width: 50px; 
        top: 10px;
        left: 10px;
    }

    #nav-menu {
        display: none;
        position: absolute;
        top: 90px; 
        left: 0;
        right: 0;
        background-color: #173351;
        text-align: center;
        z-index: 1000;
    }

    #nav-menu.active {
        display: block;
    }

    #nav-menu ul {
        flex-direction: column;
        padding: 20px;
        margin: 0;
    }

    #nav-menu ul li {
        margin: 10px 0;
    }

    #nav-menu ul li a {
        display: block;
        padding: 12px 20px; 
        color: #ffffff;
    }
}

#prosli-dogadjaji {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

#prosli-dogadjaji h2 {
    margin: 0 0 20px;
    text-align: center;
}


.dogadjaji-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.dogadjaj {
    background-color: #ddcfad;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dogadjaj:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #173351;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer p {
    margin: 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007BFF;
}
